<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My test page</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <style>
            #container {
                display: flex;
                flex-direction: row;
                width: 100vw;
                height: 100vh;
                overflow: hidden;
            }

            #tweets-container {
                width: 25rem;
                height: 100%;
                overflow: hidden;
            }

            .tweets {
                display: flex;
                flex-direction: column;
                justify-content: center;
                border: 1px black solid;
                overflow: auto;
            }

            #search-container {
                width: 25rem;
                height: 100%;
            }

            .card {
                width: 20rem;
            }
        </style>
    </head>
    <body>
        <div id="container">

            {% comment %} ALL TWEETS {% endcomment %}
            <div id="tweets-container">
                <h1>All Tweets:</h1>
                {% if tweets %}
                <div class="tweets">
                {% for tweet in tweets %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@{{ tweet.user }}</h5>
                            <p class="card-body">{{ tweet.body}}</p>
                        </div>
                    </div>
                {% endfor %}
                </div>
                {% else %}
                <p>No tweets are available.</p>
                {% endif %}
            </div>

            {% comment %} JQUERY SEARCH {% endcomment %}
            <div id="search-container">
                <h1>Search:</h1>
                <h5>Jquery Loader</h5>
                <input class="input" id="jquerySearchInput">
                <button class="button" id="jquerySearchButton">Search</button>
                <div class="tweets" id="jqueryResults">
                </div>
            </div>

            {% comment %} DJANGO SEARCH {% endcomment %}
            <div id="search-container">
                <h1>Search:</h1>
                <h5>Django Loader</h5>
                <form action="" method="GET">
                    <input class="input" name="q" id="djangoSearchInput">
                    <input class="button" type="submit"></input>
                </form>
                <div class="tweets" id="djangoResults">
                    {% for tweet in searchTweets %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@{{ tweet.user }}</h5>
                            <p class="card-body">{{ tweet.body}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </body>
    <script>
        $('window').ready(function () {
            // Button press to search
            $('#jquerySearchButton').on('click', search)
            // If enter is press in #searchInput, search.
            $('#jquerySearchInput').on('keypress', function (e) {
                if (e.which === 13) {
                    search()
                }
            })
        })
        
        const search = function () {
            const searchTerm = $('#jquerySearchInput').length > 0 ? $('#jquerySearchInput')[0].value : undefined
            if (searchTerm === undefined) {
                return // TODO: DO SOME OTHER ACTION LIKE CLEAR OR SOMETHING
            }
            $.ajax({
                url: '../search?q=' + searchTerm,
                success: function (response) {
                    displayResults(response)
                }
            })
        }

        const displayResults = function (results) {
            var html = ''
            results.forEach(function (tweet) {
                html += `
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@${tweet.user}</h5>
                            <p class="card-body">${tweet.body}</p>
                        </div>
                    </div>
                `
            })
            $('#jqueryResults').html(html)
        }
    </script>
</html>